- current_retro.groups.order_by_votes.each do |group|
  %li.sticky.group.group-color{ data: { group: group.to_json, target: "#group_#{group.id}", toggle: 'modal' } }
    .group-name= group.name

    .votes_info
      - if voting? || discussing? || finished?
        %span.pull-left
          Votes:
          %span.vote-count= group.votes

      - if current_user_can_vote?
        %span.vote-group.pull-right
          +1

    %ul.sticky-container
      - group.stickies.each do |sticky|
        %li.grouped{ 'data-sticky' => sticky.to_json, class: sticky.sticky_type }
          %span.pull-left.user-initial{ style: "display: none; background-color: #{sticky.user.color};" }
            = user_initial(sticky.user)
          %i.fa.fa-trash.remove-sticky.pull-right{ style: "display: none"}
          %p= sticky.body
  = render 'groups/expand', group: group
