#summary.container
  %h3
    Manager:
    %span{ style: "color: #{current_retro.manager.color}" }
      #{current_retro.manager.name}

    = link_to retrospective_summary_path(current_retro.public_key, format: :pdf), class: 'pull-right' do
      .fa.fa-download

  %h3
    Participants:

    - current_retro.participants.each do |participant|
      %span{ style: "color: #{participant.color}" }
        #{participant.name}

  .clearfix

  = render 'statuses/list.html'

  = render 'groups/list.html'