#summary.container
  %h4{style: 'font-weight: 300;'}
    Manager:
    %span{ style: "color: #{current_retro.manager.color};" }
      #{current_retro.manager.name}

    = link_to retrospective_summary_path(current_retro.public_key, format: :pdf), class: 'pull-right' do
      .fa.fa-download

  - unless current_retro.participants.blank?
    %h4{style: 'font-weight: 300;'}
      Participants:

      - current_retro.participants.each do |participant|
        %span{ style: "color: #{participant.color}" }
          #{participant.name}

  .clearfix

  = render 'statuses/list.html'

  .clearfix

  %h4{style: 'font-weight: 300; letter-spacing: 0;'}
    Action items summary:
  .row
    .col-md-9.col-md-offset-1
      = render 'action_items/list'

  .row
    .col-md-12
      %h4{style: 'font-weight: 300;'}
        Groups discussed:
      %ul
        = render 'groups/list.html'

%br%br%br
