- if finished?
  = render 'summary'
- elsif current_user

  .container
    .col-md-8.col-md-offset-2
      - if (discussing? || defining_action_items?) && current_user_is_manager?
        = render 'action_items/new'

  - unless defining_action_items?
    .container-stickies

      - if discussing?
        = render 'action_items/list'

      - group_style = 'width: 70%;' if discussing?
      %ul#stickies{ style: group_style }
        - if current_user_can_create?
          = render 'stickies/new'

        - if grouping? || voting? || discussing?
          = render 'groups/list'

        - if grouping? || current_user_can_create?
          = render 'stickies/ungrouped_list'

  .container
    .col-md-8.col-md-offset-2
      - if defining_action_items?
        = render 'action_items/list'

- else
  = render 'users/join_modal'