- if current_user
  %p= "Name: #{current_retro.name}"
  %p= "Link: #{retrospective_link(current_retro)}"

  %form#new_sticky{ 'accept-charset'=> 'UTF-8' }
    %textarea#sticky_body{ name: 'sticky[body]'}

    .actions
      %input{ type: :submit, value: 'Create Sticky' }

  #stickies
    - current_retro.stickies.each do |sticky|
      %span.sticky.label.label-primary{ 'data-sticky' => sticky.to_json }
        #{sticky.id} #{sticky.body}
        %i.glyphicon.glyphicon-remove.remove-sticky

- else
  = form_tag(retrospective_users_path(:retrospective_id => current_retro.public_key),
  :method => :post) do
    = label_tag('userName', 'Name')
    = text_field_tag('user[name]')

    %button= 'Save'