- if current_user
  .container-stickies
    %ul#stickies
      - if current_user_can_create?
        = render 'stickies/new'

      - if grouping? || voting? || discussing?
        = render 'groups/list'

      - if grouping? || current_user_can_create?
        = render 'stickies/ungrouped_list'

      - if finished?
        = render 'summary'

- else
  = render 'users/join_modal'