= wicked_pdf_stylesheet_link_tag 'application'

:css
  h2, h3 {letter-spacing: 0}
#summary.container
  .col-xs-6
    %h1{style: 'letter-spacing: 0;'}
      = current_retro.name
  .col-xs-12
    %h3{style: 'letter-spacing: 0;'}
      = l current_retro.created_at

  .col-xs-12
    %h3{style: 'letter-spacing: 0;'}
      Total time:
      = current_retro_total_time

  .col-xs-3
    %h3{style: 'letter-spacing: 0;'}
      Moderator:
  .col-xs-4
    %h3{ style: "letter-spacing: 0; color: #{current_retro.manager.color}" }#{current_retro.manager.name}
  .col-xs-2.col-md-2
    %h2
      = link_to retrospective_summary_path(current_retro.public_key, format: :pdf), class: 'pull-right' do
        .fa.fa-download
  .clearfix
  - unless current_retro.participants.blank?
    %h3
      Participants:

      - current_retro.participants.each do |participant|
        %span{ style: "color: #{participant.color}" }
          #{participant.name}

  .clearfix

  = render 'statuses/list.html'

  .clearfix

  %h4{style: 'font-weight: 300; letter-spacing: 0;'}
    Action items summary:
  .row
    .col-md-9.col-md-offset-1
      = render 'action_items/list.html'
