!!!
%html
  %head

    %title Kaigi

    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100italic,900,300italic,700italic,500italic,400italic,900italic,100", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/socket/client.js'

    = csrf_meta_tags

  :javascript
    RETRO = JSON.parse('#{current_retro.to_json}');
    USER = JSON.parse('#{current_user.try(:to_json) || {}}');
    CURRENT_STATUS = JSON.parse('#{current_retro.current_status.try(:to_json) || {}}');

  %body{ data: { retro: current_retro.to_json, user: current_user.try(:to_json) } }
    %nav.navbar.navbar-custom.navbar-fixed-top.navbar-retro{:role => "navigation"}
      .row.header-container
        .col-md-1
          #logo-container
            = link_to image_tag('kaigi-icon.png'), '/'
        .col-md-3#retro-name
          %span= "#{current_retro.name}: #{current_status_name}"
        .col-md-4#retro-time

          = link_to '--:--:--', '#', id: 'timer'

          - if !set_timebox_in_current_status
            %input#end_current_time{ type: :submit, value: 'End', class: 'end-btn radius2px' }

        .col-md-4#retro-share
          .settings-button.right-floated.participants-count
            = link_to '#', id: 'settings-btn' do
              %span
                %i.fa.fa-cog
          .share-button.right-floated
            = link_to  '#', 'data-toggle' => 'modal', 'data-target' => '#shareModal' do
              %i.fa.fa-link
              Share
          .participants-count.right-floated
            .participants-dropdown-container
              = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                +#{current_retro.users.size - 1}

              %ul#users.dropdown-menu.pull-right.connected-users{:class => ('hide' if (current_retro.users.size - 1) == 0 )}
                - current_retro.users.each do |user|
                  - if user != current_user
                    %li.user{ data: { user: user.to_json }, style: "background-color: #{user.color};" }
                      = user_initial(user)

          .username.right-floated
            = current_user.try(:name)
    = render 'retrospectives/settings'

    = yield


= render 'retrospectives/share_link_modal'

- if current_user_is_manager? && set_timebox_in_current_status
  = render 'retrospectives/set_status_modal'

- if current_user && !current_user_is_manager? && set_timebox_in_current_status
  = render 'retrospectives/wait_for_manager_modal'
