!!!
%html
  %head

    %title Kaigi

    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100italic,900,300italic,700italic,500italic,400italic,900italic,100", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/socket/client.js'

    = csrf_meta_tags

  :javascript
    RETRO = JSON.parse('#{current_retro.to_json}');
    USER = JSON.parse('#{current_user.try(:to_json) || {}}');

  %body{ data: { retro: current_retro.to_json, user: current_user.try(:to_json) } }
    %nav.navbar.navbar-custom.navbar-fixed-top.navbar-retro{:role => "navigation"}
      .row.header-container
        .col-md-1
          #logo-container
            = link_to image_tag('kaigi-icon.png'), '/'
        .col-md-3#retro-name
          Kaigi retrospective
        .col-md-4#retro-time

          = link_to '10:20:20', '#', id: 'timer', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'

          %ul.dropdown-menu.time-box
            = render 'retrospectives/set_status_dropdown'

        .col-md-4#retro-share
          .share-button.right-floated
            = link_to  '#', 'data-toggle' => 'modal', 'data-target' => '#shareModal' do
              %i.fa.fa-link
              Share

          .participants-count.right-floated
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              +#{current_retro.users.size - 1}

            %ul#users.dropdown-menu.connected-users
              - current_retro.users.each do |user|
                - if user != current_user
                  %li.user.user-initial{ data: { user: user.to_json }, style: "background-color: #{user.color};" }
                    = user_initial(user)

          .username.right-floated
            = current_user.try(:name)

    = yield

= render 'retrospectives/share_link_modal'
