!!!
%html
  %head

    %title Kaigi

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/socket/client.js'

    = csrf_meta_tags

  %body
    = yield